<header>
        <div class="header-left">Account Details</div>
        <a href="/" class="logo">
            <div class="logo-circle">R</div>
        </a>
        <div class="nav-right">
  <a class="nav-item">
    <i class="fa-solid fa-magnifying-glass nav-icon"></i> Search
  </a>

  <a href="/login" class="nav-item">
    <i class="fa-solid fa-user nav-icon"></i>
    <span><%= currentUser ? currentUser.username : "Guest" %></span>
  </a>

  <a class="nav-item">
    <i class="fa-solid fa-cart-shopping nav-icon"></i>
  </a>
</div>

    </header>
